:root {
  --content-max-width: 1200px;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-content {
  max-width: var(--content-max-width);
  margin: 0 auto;
  padding: 16px;
}

